body{
    background-color: white;
    margin: 0;
}

h1{
    color: blue;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


section{
    border-bottom: 1px solid black;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li{
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

h2{
    text-align: center;
    text-transform: capitalize;

    font-size: 35px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;

    margin-top: 0;
    margin-bottom: 0;
    color: #4a4a4a;

    box-sizing: border-box;
}

#close{
    color: red;
    float: right;
    font-weight: bolder;
}

.textbox{
    background-color: yellow;
    border-radius: 15px;
    width: 99%;
    height: 100%;
    border: 1px solid #ccc;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
}


footer{
    background-color: #363636;
    color: #b9b9b9;
    font-family: Dotum, 돋움, "Apple SD Gothic Neo", arial;
}